<ion-header>
  <ion-toolbar>
    <ion-title>Eliminar Roles</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Roles</ion-label>
    <ion-select [(ngModel)]="roles_seleccionados" multiple="true">
      <ion-select-option *ngFor="let rol of roles_usuario" [value]="rol.cn_id_rol">
        {{ rol.ct_descripcion }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="block" color="danger" (click)="eliminar_roles()">Eliminar</ion-button>
</ion-content>
