<ion-app>
  <!-- Menu Component -->
  <ion-menu contentId="main-content" class="custom-menu">
    <ion-header class="custom-menu-header">
      <ion-toolbar color="tertiary">
        <ion-title class="custom-title">¿Qué deseas visualizar?</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="custom-menu-content ion-padding">
      This is the menu content.
    </ion-content>
  </ion-menu>

  <!-- Main Content -->
  <div class="ion-page" id="main-content">
  <ion-content [fullscreen]="true">
    <ng-container *ngIf="incidentes.length > 0; else noIncidentes">
      <ion-card *ngFor="let incidente of incidentes">
        <ion-card-header>
          <ion-card-title>{{ incidente.ct_titulo_incidencia }}</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ incidente.ct_descripcion_incidencia }} <br>
          {{ incidente.ct_lugar_incidencia }}
        </ion-card-content>
        <div class="button-container">
          <ion-button class="custom-button" fill="clear">Crear diagnostico</ion-button>
          <ion-button class="custom-button" fill="clear">Ver diagnostico</ion-button>
        </div>
      </ion-card>
    </ng-container>
    <ng-template #noIncidentes>
      <ion-card>
        <ion-card-header>
          <ion-card-title>No hay incidentes registrados.</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Actualmente no hay incidentes para mostrar.
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ion-content>

  <!-- Floating Action Modal Button  -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="abrir_modal()" id="open-modal" size="large"> <!-- Ajusta el tamaño del botón -->
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  </div>
</ion-app>