<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="centered-title">Diagnosticos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-app>
  <!-- Menu Component -->
  <ion-menu contentId="main-content" class="custom-menu">
    <ion-header class="custom-menu-header">
      <ion-toolbar color="tertiary">
        <ion-title class="custom-title">¿Qué deseas visualizar?</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="custom-menu-content ion-padding">
      This is the menu content.
    </ion-content>
  </ion-menu>

  <!-- Main Content -->
  <div class="ion-page" id="main-content">
  <ion-content [fullscreen]="true">
    <ng-container *ngIf="diagnosticos.length > 0; else noDiagnosticos">
      <ion-card *ngFor="let diagnostico of diagnosticos">
        <ion-card-header>
          <ion-card-title>Problemas a destacar en el diagnostico.</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ diagnostico.ct_descripcion_diagnostico }}
          <br>
         La incidencia tendra una solucion estimada de: {{ diagnostico.cn_tiempo_estimado_solucion }} <br>
          {{ diagnostico.ct_observaciones }}
        </ion-card-content>
      </ion-card>
    </ng-container>
    <ng-template #noDiagnosticos>
      <ion-card>
        <ion-card-header>
          <ion-card-title>No hay diagnosticos registrados.</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Actualmente no hay diagnosticos para mostrar.
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ion-content>

  <!-- Floating Action Modal Button  -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  id="open-modal" size="large"> <!-- Ajusta el tamaño del botón -->
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  </div>
</ion-app>