ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 80px; /* Aumenta el padding superior para dejar espacio para el título */
    --padding-bottom: 20px;
  }
  
  ion-item {
    margin-bottom: 15px;
  }
  