<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Asignar Incidencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Main Content -->
  <div class="ion-page" id="main-content">
    <ion-content>
      <form #incidenciaForm="ngForm" (ngSubmit)="asignar_incidencia()">
        <ion-item>
          <ion-label>Afectación</ion-label>
          <ion-select [(ngModel)]="selectedAfectacion" name="afectacion" placeholder="Selecciona una afectación">
            <ion-select-option *ngFor="let afectacion of afectaciones" [value]="afectacion.cn_id_afectacion">
              {{ afectacion.ct_descripcion_afectacion }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Categoria</ion-label>
          <ion-select [(ngModel)]="selectedCategoria" name="categoria" placeholder="Selecciona una Categoria">
            <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.cn_id_categoria">
              {{ categoria.ct_descripcion_categoria }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Riesgos</ion-label>
          <ion-select [(ngModel)]="selectedRiesgos" name="riesgo" placeholder="Seleccione el Riesgo de la incidencia">
            <ion-select-option *ngFor="let riesgo of riesgos" [value]="riesgo.cn_id_riesgo">
              {{ riesgo.ct_descripcion_riesgo }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Prioridades</ion-label>
          <ion-select [(ngModel)]="selectedPrioridades" name="prioridad"
            placeholder="Seleccione la Prioridad de la incidencia">
            <ion-select-option *ngFor="let prioridad of prioridades" [value]="prioridad.cn_id_prioridad">
              {{ prioridad.ct_descripcion_prioridad }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Técnicos</ion-label>
          <ion-select [(ngModel)]="selectedTecnicos" name="tecnico"
            placeholder="Seleccione El Técnico de la incidencia">
            <ion-select-option *ngFor="let tecnico of tecnicos" [value]="tecnico.cn_user_id">
              {{ tecnico.ct_nombre }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <div class="button-container d-flex flex-column">
          <ion-button class="btn btn-success w-100 mb-2" fill="clear" type="submit" [disabled]="!isFormValid()">Asignar Incidencia</ion-button>
          <ion-button class="btn btn-warning w-100" fill="clear" (click)="resetForm(incidenciaForm)" [routerLink]="['/incidentes']" type="button">Volver al Menu de Inicio</ion-button>
        </div>
      </form>
    </ion-content>
  </div>
</ion-content>
