<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Crear Nuevo Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Crear Nuevo Usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <form #usuarioForm="ngForm" (ngSubmit)="crear_usuario()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="ct_nombre" name="nombre" required></ion-input>
      </ion-item>
      <div *ngIf="usuarioForm.submitted && !usuarioForm.controls['nombre'].valid" class="error-message">
        El nombre es requerido.
      </div>

      <ion-item>
        <ion-label position="floating">Cédula</ion-label>
        <ion-input [(ngModel)]="ct_cedula" name="cedula" required></ion-input>
      </ion-item>
      <div *ngIf="usuarioForm.submitted && !usuarioForm.controls['cedula'].valid" class="error-message">
        La cédula es requerida.
      </div>

      <ion-item>
        <ion-label position="floating">Puesto</ion-label>
        <ion-input [(ngModel)]="ct_puesto" name="puesto" required></ion-input>
      </ion-item>
      <div *ngIf="usuarioForm.submitted && !usuarioForm.controls['puesto'].valid" class="error-message">
        El puesto es requerido.
      </div>

      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input [(ngModel)]="ct_correo" name="correo" type="email" required></ion-input>
      </ion-item>
      <div *ngIf="usuarioForm.submitted && !usuarioForm.controls['correo'].valid" class="error-message">
        El correo es requerido.
      </div>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="ct_password" name="password" type="password" required></ion-input>
      </ion-item>
      <div *ngIf="usuarioForm.submitted && !usuarioForm.controls['password'].valid" class="error-message">
        La contraseña es requerida.
      </div>

      <ion-button expand="full" type="submit" [disabled]="!usuarioForm.valid">Crear Usuario</ion-button>
    </form>

    <ion-toast [isOpen]="showToast" message="Se ha registrado un nuevo usuario con éxito" duration="2000" cssClass="toast-success"></ion-toast>
  </ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="volver()" id="open-modal" size="large">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
